{% if link is not empty %}
  <a class="media-image__link" href="{{ link }}" {% if link_target %} target="{{ link_target }}" {% endif %} {% if link_tabindex %} tabindex="{{ link_tabindex }}" {% endif %}>
  {% endif %}
  <img class="{% if class is not empty %}{{ class }} {% endif %}lazyload js-lazyload" {% if style is not empty %} style="{{ style }}" {% endif %} alt="{{ image.alt }}" src="{{ image.src }}" {% if width and height %} width="{{ width }}" height="{{ height }}" {% endif %} {{ fit }}>
  {% if link is not empty %}
  </a>
{% endif %}
{% if copyright %}
  <footer class="media-image__footer">
    <small class="copyright" aria-hidden="true">
      {% if copyright_link %}
        <a class="copyright__link" href="{{ copyright_link|e("esc_url") }}">{{ copyright }}</a>
      {% else %}
        {{ copyright }}
      {% endif %}
    </small>
  </footer>
{% endif %}
